/* The (two) main components of the page body */
div {
	border: 1px solid black;
	margin: 0 auto;
	top: 7px;
	width: 375px;
}

/*
	The three tables:
		the two "controller" tables and
		the one "view" table (defined by its lines)
*/
#addGamerTable, #changeInitiativeTable,
.line {
	border: 2px solid black;
	border-radius: 5px;
	margin: 3px;
	padding: 7px;
}
td {
	border: 1px solid black;
}

/* <h2>The "controller" component (of the page body)</h2> */
/* The (two) "controller" buttons */
button {
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	overflow: hidden;
	padding-bottom: 2px;
	padding-top: 2px;
	text-align: center;
    white-space: nowrap;
}

/* The "controller" table to add a gamer */
#addGamerTable {
	border-color: #ccccff;
}
/* The "addGamer" table content */
#addGamerButton {
	background-color: #ccccff;
	width: 122px;
}
#gamerName {
	width: 127px;
}
#gamerInitiative {
	text-align: center;
	width: 65px;
}

/* The "controller" table to change the initiative (of a gamer) */
#changeInitiativeTable {
	border-color: #ffcccc;
}
/* The "changeInitiative" table content */
#valueToInitiative {
	text-align: center;
	width: 51px;
}
#changeInitiativeButton {
	background-color: #ffcccc;
}
#selectedGamerName {
	width: 111px;
}

/* <h2>The "view" component (of the page body)
and relative to the "controller" component</h2> */
#view {
	position: relative;
	top: 5px;
}

/* The field names (of the "view" table) */
#header {
	border: none;
}
/* The fields */
.name, #name {
	width: 128px;
}
.initiative, #initiative, .life {
	text-align: center;
	width: 65px;
}
#life {
	text-align: center;
	width: 69px;
}

/* The "recycle bin" button */
#recycleBinButton {
	cursor: pointer;
	text-align: center;
	width: 20px;
}

/* The line number */
#row {
	text-align: right;
	width: 20px;
}

/* 'even' */
.line #line:nth-child(2n) {
	background-color: #ffffcc;
}
/* 'odd' */
.line #line:nth-child(2n+1) {
	background-color: #ccffcc;
}
