<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<!-- The css -->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css" />
		<!-- The controller -->
		<script src="../controller/angular-1.6.4/angular.min.js"></script>
		<script src="../controller/js/controller.js"></script>
		<script src="../controller/js/tabulation.js"></script>
		<!-- The title of the application page (in French) -->
		<title>Gestionnaire des jeux de rôle</title>
	</head>
	<body ng-app="myApp" ng-controller="myCtrl">
		<!-- The controller part -->
		<div id="controller">
			<!-- The "controller" table to add a gamer -->
			<table id="addGamerTable">
				<tr>
					<td>
						<table ng-keydown="($event.keyCode == 13) ? addGamer() : null">
							<!-- The (control) button -->
							<td><button id="addGamerButton" ng-click="addGamer()"
									onkeydown="tabulationForFirstLine(event, 'gamerInitiative', 'gamerName', 'valueToInitiative')">
								ajouter le joueur :</button>
							</td>
							<!-- The gamer name input -->
							<td><input id="gamerName" tabindex="3" type="text" maxlength="16" ng-model="gamerName" title="Nom du joueur {{gamerName }}"
									onkeydown="tabulationForFirstLine(event, 'addGamerButton', 'gamerInitiative', 'valueToInitiative')" />
							</td>
							<!-- The gamer initiative input -->
							<td><input id="gamerInitiative" type="text" maxlength="8" ng-model="gamerInitiative" title="Initiative du joueur"
									ng-change="displayGamerInitiative('gamerInitiative', gamerInitiative)"
									onkeydown="tabulationForFirstLine(event, 'gamerName', 'addGamerButton', 'valueToInitiative')" />
							</td>
						</table>
					</td>
				</tr>
			</table>
			<!-- The "controller" table to change the initiative (of a gamer) -->
			<table id="changeInitiativeTable">
				<tr>
					<td>
						<table ng-keydown="(($event.keyCode == 13) ? changeInitiative($event) : null)">
							<!-- The value to the initiative (of the gamer of which the name is selected) -->
							<td>
								<input id="valueToInitiative" type="text" maxlength="6" ng-model="valueToInitiative"
									ng-change="displayValueToInitiative('valueToInitiative', valueToInitiative)"
									onkeydown="tabulationForSecondLine(event, 'selectedGamerName', 'changeInitiativeButton', 'gamerLife')" />
							</td>
							<!-- The (control) button -->
							<td><button id="changeInitiativeButton" ng-click="changeInitiative()"
									ng-keydown="($event.keyCode == 13) ? changeInitiative() : null"
									onkeydown="tabulationForSecondLine(event, 'valueToInitiative', 'selectedGamerName', 'gamerLife')">
								à la valeur d'initiative de</button>
							</td>
							<!-- The selected gamer name -->
							<td>
								<select id="selectedGamerName" ng-model="selectedGamerName"
									onkeydown="tabulationForComboBox(event, 'changeInitiativeButton', 'valueToInitiative', 'gamerLife')">
									<option ng-repeat="gamer in gamers | orderBy: ['-initiative', 'name']">{{gamer.name}}</option>
								</select>
							</td>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<!-- The view part -->
		<div id="view">
			<table class="line" ng-model="line">
				<tr>
					<td id="header">
						<table>
						</table>
					</td>
					<td>
						<table>
							<!-- The field names -->
							<td id="name">&nbsp;Nom du joueur</td>
							<td id="initiative">Initiative</td>
							<td id="life">Vie</td>
							<!-- The "recycle bin" button -->
							<td id="recycleBinButton" ng-click="recycleBin()"><i class="fa fa-trash" title="Supprimer tout joueur sélectionné."></i></td>
						</table>
					</td>
				</tr>
				<!-- The list of gamer -->
				<tr id="line" ng-repeat="gamer in gamers | orderBy: ['-initiative', 'name']">
					<td>
						<!-- The line number -->
						<table>
							<td id="row" ng-model="gamer.index">{{gamer.index = $index + 1}}</td>
						</table>
					</td>
					<td>
						<!-- The gamer -->
						<!-- <table class="gamer" ng-style="{'background-color': getColor(gamer)}"> -->
						<table class="gamer">
							<td class="name" ng-model="gamer.name" title="{{gamer.title}}">&nbsp;{{gamer.name}}</td>
							<td class="initiative" ng-model="gamer.initiative">{{gamer.initiative}}</td>
							<td><input class="life" id="gamerLife" tabindex="1" type="text" maxlength="8" ng-model="gamer.life"
									ng-change="displayLife(gamer)"
									ng-keydown="tabulationForLife($event, gamer)" />
							</td>
							<td><input class="check" id="gamerCheck" tabindex="2" type="checkbox" ng-model="gamer.check"
									ng-click="getBlues(gamer.index)"
									ng-keyup="($event.keyCode == 13) ? recycleBin() : null"
									ng-keydown="tabulationForCheck($event, gamer)" />
							</td>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
